NODE_ENV="development" # or "production"
# replace 'username' and 'password' with your credentials.
DATABASE_URL="mongodb://username:password@localhost:27017/panda_db?authSource=admin"
LOG_LEVEL="debug" # or "info" or "warn" or "error" or "fatal"
